<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find mobile_manipulator_body)/urdf/mobile_manipulator.urdf" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="\\wsl.localhost\Ubuntu-20.04\home\raflydaffaldi\lrf_1\src\lrf_worlds\aws-robomaker-small-warehouse-world\worlds\no_roof_small_warehouse.world"/>
    <arg name="gui" default="true"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobile_manipulator" output="screen"/>

  <rosparam command="load" file="$(find mobile_manipulator_body)/config/arm_control.yaml" />
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" respawn="false" output="screen"/>

  <rosparam command="load" file="$(find mobile_manipulator_body)/config/joint_state_controller.yaml" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="false" output="screen"/>

  <rosparam command="load" file="$(find mobile_manipulator_body)/config/control.yaml" />
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Start SLAM Toolbox -->
  <include file="$(find slam_toolbox)/online_async.launch"/>


</launch>
